<div>
  <h4 class="h">Welcome to your Profile !</h4>
  <h5>Here are some of the best works to inspire you!</h5><br>
  <table class="table table-trapped" >

      <tbody>
        <tr *ngFor="let data of userData">
            <td><b>{{data.name}}</b></td>
            <td><img src="{{data.photo}}"></td>
            <td><button class="btn" (click)="getUser(data)">Know More</button></td>
        </tr>
      </tbody>
  </table>
</div>
<div>
  <h2>Select a Genre from below :</h2>
  <ol *ngFor="let data1 of userData1" class="co">
    <li><u>{{data1.item1}}</u></li>
    <li><u>{{data1.item2}}</u></li>
    <li><u>{{data1.item3}}</u></li>
    <li><u>{{data1.item4}}</u></li>
    .
  </ol>
</div>
