
.sty{
    font-size: 150%;
    font-style: normal;
    font-family: cursive;
    font-size: 1.5em;
    font-weight: bold;
    
    width: 20%;
    padding: 10px;
    color: white;
    margin-top: 0px;
    
}

.calculator{
    background-color: rgb(57, 58, 59);
    position: relative;
    margin: 4% auto auto auto;
    width: 300px;
    text-align: center;
    border-color: firebrick;
    border-radius: 20px;

}

.result{
    border-radius: 8px;
}

button{
    border-radius: 8px;
    width: 90px;
    height: 50px;
    font-size: 20px;
    border: 2px solid;
    border-color: lightslategrey;
    margin: 2px, 2px, 8px, 2px;
    transition-duration: 0.4s;

}

.long{
    width: 135px;
}

.responsive:hover{
    background-color: lightslategrey;
    color: white;
}
input{
    width: 270px;
    height: 40px;
    text-align: right;
    font-size: 1.7em;
}