
<h2 class="h">Please Log in to continue </h2>
<h5 class="h4">Write without fear, Edit without Mercy </h5><br>
<h6 class="h6">New Register ?</h6><button class="button1" routerLink="/register"><u>Sign up</u></button>

<div class="form-group">
<form #form1="ngForm" (submit)="loginUser($event)" action="/action_page.php">
  <table bgcolor="#FFF5EE">
    <tr>
      <td>Email Address: </td>
      <td><input  minlength ="5" type="email" id="email" name="email" class="form-control" placeholder="Enter Username" ngModel required><br></td>
    </tr> 
    <tr>
      <td>Password:</td>
      <td><input type="password" id="password" class="form-control" name="password" placeholder="Enter Password"  ngModel required><br></td>
    </tr>


    <button type="submit" class="sub" (click)="onSubmit()" (click)="login()" [disabled]="!form1.valid" >Submit</button>
    <button class="toggle-panel" class="sub" (click)="popup()" *ngIf="show" routerLink="/profile">Log In</button>
  </table>

</form>
</div>
<img src="../../../assets/h124.PNG" class="cover3" alt="Angular 7 ">
