<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<div app-test>-->
    
  <div class="main-view">
      
      <app-navbar></app-navbar>
      <!--<app-home></app-home>
      <app-about></app-about>
      <app-contact></app-contact>
      <app-calc></app-calc>
      -->
      
      <router-outlet> </router-outlet>
      
      
    </div>
  
  
  <app-footer></app-footer>
  <h2>Register</h2>
  <form [formGroup]="form">
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control" placeholder="Enter Username"/>


      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="Enter Password" />

      </div>
      <div class="form-group">
        <label for="confirm password">Confirm Password</label>
        <input type="password" formControlName="cnfpass" class="form-control"  placeholder="Confirm Password" />

    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()"></button>
  </form>
  <!--<div class="Validations">
    <span>
      <i class="fa fa-check-circle" style="color:green;" *nglf="form.comtrols.username.valid"></i>
      <i class="fa fa-check-circle" style="color:red;" *nglf="form.comtrols.username.invalid"></i>
      bla bla bla
    </span>
  </div>-->
  
