.fancy{
    color:#2F4F4F;
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 14%;
}
.girl{
    height: 25rem; background-size: 1100pt; width:auto;
    background-image:url('https://angular.io/generated/images/marketing/home/loved-by-millions.svg');
    background-position: 1pt;
    background-position-x: 87%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}
