<nav class="navbar navbar-light bg-info">
  <span class="navbar-brand mb-0 h1 text-light" routerLink="/">
  <i class="fas fa-book"></i> Companion Writers</span>
  <span class="mr-auto"></span>
  <!--<button class="btn btn-info mr-1" routerLink="/about">About</button>
  <button class="btn btn-info" routerLink="/contact">Contact</button>
  <button class="btn btn-info text-light" routerLink="/calc">Calculator</button>-->
 
  <button class="btn btn-info bg-info text-light" routerLink="/login">LOG IN</button>

  <div class="dropdown">
      <button class="dropbtn bg-info text-light">LEARN MORE</button>
      <div class="dropdown-content">
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/calc">Calculator</a>
      </div>
    </div>
    
  
  <!--<select class="dropdown bg-info text-light">
    <option value="About" class="btn btn-info text-light" routerLink="/about"><b>ABOUT</b></option>
    <option value="Contact" class="btn btn-info text-light" routerLink="/contact">CONTACT</option>
    <option value="Calculator" class="btn btn-info text-light" routerLink="/calc">CALCULATOR</option>
    <option value="Register" class="btn btn-info text-light" routerLink="/register">REGISTER</option>
  </select>-->
  
</nav>
